body {
  margin: 0;
  overflow-x: hidden;
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #fff8ee;
  background: linear-gradient(90deg, #fff0db 0%, #fff8ee 100%);
}

.insta-icon {
  position: fixed;
  font-size: 30px;
  top: 30px;
  right: 30px;
  z-index: 1;
}

.insta-icon a:link,
.insta-icon a:visited {
  color: black;
}

.logo,
.border {
  width: 350px;
  z-index: 2;
}

.logo {
  margin-left: 7.5px;
}

.titles,
.logo-container {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titles {
  margin-top: 25px;
  margin-left: -10px;
  flex-direction: row;
  align-items: flex-start;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}

@keyframes upping1 {
  from {
    transform: translateY(125px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes upping2 {
  0% {
    transform: translateY(125px);
  }
  50% {
    transform: translateY(125px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes upping3 {
  0% {
    transform: translateY(125px);
  }
  33.3% {
    transform: translateY(125px);
  }
  66.6% {
    transform: translateY(125px);
  }
  100% {
    transform: translateY(0px);
  }
}

.titles div {
  overflow: hidden;
}

.titles div .first {
  animation: upping1 0.75s linear;
}

.titles div .second {
  animation: upping2 1.5s linear;
}

.titles div .third {
  animation: upping3 2.25s linear;
}

.border {
  position: fixed;
  transform-origin: top left;
  transition: all 0.5s linear;
}

.top-phrase {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  height: 200px;
  background: rgb(14, 14, 14);
  background: linear-gradient(
    90deg,
    rgba(14, 14, 14, 1) 0%,
    rgb(46, 46, 46) 100%
  );
  color: #eee;
  font-size: 120px;
  overflow: hidden;
}

.top-phrase span {
  animation: phrase 2.5s linear infinite;
  white-space: nowrap;
}

@keyframes phrase {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.description {
  position: relative;
  padding: 75px 20vw 125px 20vw;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: justify;
  background: rgb(250, 250, 250);
  background: linear-gradient(
    90deg,
    rgb(223, 223, 223) 100%,
    rgba(250, 250, 250, 1) 0%
  );
  background-image: url('../img/pattern.png');
}

.slider {
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
  max-height: 500px;
  height: auto;
  position: relative;
}

.slider .slider-container {
  position: absolute;
  width: 100%;
  max-height: 500px;
  display: flex;
  flex-direction: column;
}

.slider img:not(.cover) {
  width: 100%;
  max-height: 500px;
  animation: slider 5s linear infinite;
  animation-delay: 2s;
}

.slider .cover {
  width: 100%;
  max-height: 500px;
  visibility: hidden;
}

@keyframes slider {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(-100%);
  }
  75% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(-200%);
  }
}

.shows {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: rgb(250, 250, 250);
  background: linear-gradient(
    90deg,
    rgb(223, 223, 223) 100%,
    rgba(250, 250, 250, 1) 0%
  );
  background-image: url('../img/pattern.png');
}

.show-list {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  font-weight: bold;
  z-index: 10;
}

ol.show-list {
  list-style-type: none;
  padding-left: 0;
}

ol.show-list > li {
  counter-increment: customlistcounter;
}

ol.show-list > li:before {
  content: '#' counter(customlistcounter);
  float: left;
  width: 1.5em;
}

ol.show-list:first-child {
  counter-reset: customlistcounter -1;
}

.show-name {
  background-repeat: no-repeat;
  background-size: 0 0.27em;
  background-position: 0 90%;
  transition: background-size 0.33s ease-out;
  cursor: pointer;
}

.show-name:hover {
  background-size: 100% 0.27em;
}

.show-0 {
  background-image: linear-gradient(
    120deg,
    #fedd02 0%,
    rgb(255, 247, 192) 100%
  );
}

.show-1 {
  /* background-image: linear-gradient(120deg, #90a2ee 0%, #7722a0 100%);*/
}

.show-2 {
  /* background-image: linear-gradient(120deg, #a2b366 0%, #e8ddc4 100%); */
}

.show-3 {
  /* background-image: linear-gradient(120deg, red 0%, red 100%); */
}

.show-disabled {
  opacity: 0.05;
}

#show-image {
  width: 400px;
  height: 300px;
  position: absolute;
  display: none;
  background-color: black;
  transition: left 0.2s, top 0.2s;
  z-index: 1;
}

#show-image.visible {
  display: block;
}

.logos {
  display: flex;
  flex-direction: row;
  place-content: center;
  width: 100%;
  margin-bottom: 75px;
}

.logos img {
  height: 150px;
}

.logo-black {
  position: absolute;
  bottom: 50px;
  left: -20px;
  width: 218px;
}

.description-title {
  position: absolute;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 64px;
  left: 5px;
  top: 50px;
  z-index: 1;
  width: 170px;
  display: flex;
  align-items: center;
  place-content: center;
}

.offici-art-gallery {
  position: absolute;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 20px;
  right: 5px;
  bottom: 50px;
  width: 170px;
}

.downloads {
  width: 100%;
  height: 500px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  place-content: center;
  background-color: #fff8ee;
  background: linear-gradient(90deg, #fff0db 0%, #fff8ee 100%);
}

.downloads-container {
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  place-content: center;
}

.brochure-text,
.ticket-text {
  width: 300px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  padding-bottom: 25px;
}

.brochure-text {
  text-align: right;
  margin-right: 25px;
}

.ticket-text {
  margin-left: 25px;
}

.brochure,
.ticket {
  height: 200px;
  cursor: pointer;
}

.brochure {
  margin-right: 150px;
}

.ticket {
  padding-left: 75px;
}

.contacts {
  max-height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  place-content: center;
  overflow: hidden;
  position: relative;
}

.contacts #background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contacts-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts-table {
  width: 1250px;
  height: 250px;
  border: solid 5px white;
  z-index: 1;
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.contacts-left,
.contacts-right {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  place-content: center;
  padding-left: 75px;
}

.contacts-left {
  border-right: solid 5px white;
}

.contacts-right {
  width: 40%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  color: white;
  line-height: 2rem;
}

.contacts-left .left-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 80px;
  color: white;
}

.contacts-left .left-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.contacts-right .contacts-mail {
  font-weight: bold;
  margin-top: 25px;
}

.contacts a:link {
  color: white;
}

.contacts a:visited {
  color: white;
}

.contacts-right i {
  margin-right: 25px;
}

.under-table {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-size: 20px;
  margin-top: 10px;
}

.footer {
  position: absolute;
  width: 100%;
  height: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  display: flex;
  align-items: center;
  place-content: center;
  color: #eee;
  bottom: 0px;
}

.footer a:link {
  color: white;
}

.footer a:visited {
  color: white;
}

.scroll-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  color: black;
  font-size: 30px;
  cursor: pointer;
  z-index: 5;
  transition: 0.33s linear;
}

.scroll-button.reversed {
  transform: rotate(180deg);
}

@media screen and (max-width: 1660px) {
  .contacts {
    height: 100vh;
    max-height: 100vh;
  }
}

@media screen and (max-width: 1450px) {
  .contacts-table {
    flex-direction: column;
    height: 450px;
    width: 800px;
    margin-top: 50px;
  }

  .contacts-left {
    width: 100%;
    height: 200px;
    border-right: none;
    border-bottom: solid 5px white;
    padding-left: 0;
  }

  .contacts-right {
    width: 100%;
    height: 250px;
    padding-left: 50px;
  }

  .contacts-left > div {
    padding-left: 50px;
  }
}

@media screen and (max-width: 1150px) {
  .downloads {
    height: 100vh;
  }

  .downloads-container {
    height: 100vh;
    flex-direction: column;
    align-items: center;
  }

  .brochure {
    margin-right: 0;
    margin-bottom: 75px;
  }

  .ticket {
    padding-left: 0;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 950px) {
  .description {
    padding-bottom: 110px;
    padding-right: 75px;
    padding-left: 180px;
  }
}

@media screen and (max-width: 900px) {
  .under-table {
    font-size: 12px;
  }

  .contacts-table {
    width: 650px;
  }
}

@media screen and (max-width: 825px) {
  .logos {
    margin-bottom: 25px;
    margin-top: 50px;
  }

  .logos img {
    height: 100px;
  }

  .description {
    font-size: 16px;
  }
}

@media screen and (max-width: 685px) {
  .description {
    padding-left: 75px;
    padding-bottom: 200px;
  }

  .contacts-table {
    width: 450px;
  }

  .contacts-left .left-title {
    font-size: 50px;
  }
}

@media screen and (max-width: 575px) {
  .description {
    padding-left: 50px;
    padding-right: 50px;
  }

  .logo,
  .border {
    width: 250px;
  }

  .description-title {
    font-size: 50px;
    width: 125px;
  }

  .logo-black {
    width: 156px;
    left: -11px;
  }

  .ticket,
  .brochure {
    height: 125px;
  }
}
